@tailwind base;
@tailwind components;
@tailwind utilities;

.wave {
  --mask:
    radial-gradient(144.7px at 50% calc(100% - 198.75px),#000 99%,#0000 101%) calc(50% - 150px) 0/300px 100%,
    radial-gradient(144.7px at 50% calc(100% + 123.75px),#0000 99%,#000 101%) 50% calc(100% - 75px)/300px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}


/* Carousel CSS */
.carousel-circle{
  position: relative;
  padding: 50px;
}

.active img{
  position: absolute;
  width: 400px;
}
.next img{
  width: 175px;
  position: absolute;
  top: 350px;
  left: 32%;
}
.nextt img{
  width: 121px;
  position: absolute;
  top: 260px;
  left: 44%;
}
.last img{
  position: absolute;
  top: 200px;
  left: 38%;
  width: 83px;
}

/* Carousel Resposive */
/* 'tiny' */
@media (min-width: 375px) and (max-width: 639px) {
  .active img{
    position: absolute;
    width: 250px;
  }
  .next img{
    width: 150px;
    position: absolute;
    top: 250px;
    left: 270px;
  }
  .nextt img{
    width: 90px;
    position: absolute;
    top: 180px;
    left: 390px;
  }
  .last img{
    position: absolute;
    top: 145px;
    left: 330px;
    width: 60px;
  } 
}

/* SM */
@media (min-width: 640px) and (max-width: 767px) {
  .active img{
    position: absolute;
    width: 270px;
  }
  .next img{
    width: 170px;
    position: absolute;
    top: 270px;
    left: 270px;
  }
  .nextt img{
    width: 110px;
    position: absolute;
    top: 180px;
    left: 420px;
  }
  .last img{
    position: absolute;
    top: 125px;
    left: 345px;
    width: 80px;
  }
}

/* MD */
@media (min-width: 768px) and (max-width: 1023px) {
  .active img{
    position: absolute;
    width: 350px;
  }
  .next img{
    width: 170px;
    position: absolute;
    top: 340px;
    left: 355px;
  }
  .nextt img{
    width: 110px;
    position: absolute;
    top: 235px;
    left: 500px;
  }
  .last img{
    position: absolute;
    top: 180px;
    left: 425px;
    width: 80px;
  }
}

/* lg */
@media (min-width: 1024px) and (max-width: 1279px) {
  .next img{
    top: 370px;
    left: 39%;
  }
  .nextt img{
    top: 270px;
    left: 53%;
  }
  .last img{
    top: 200px;
    left: 46%;
  }
}

/* '3xl' */
@media (min-width: 1920px) {
  .next img{
    width: 175px;
    position: absolute;
    top: 350px;
    left: 420px;
  }
  .nextt img{
    width: 121px;
    position: absolute;
    top: 260px;
    left: 580px;
  }
  .last img{
    position: absolute;
    top: 200px;
    left: 500px;
    width: 83px;
  }
 }